@charset "utf-8";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Base */
dt {
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0.25em 0 0.25em -0.5em;
}

dd {
    margin: -0.25em 0 0.25em 1em;
}

/* Source: https://codepen.io/radek024/pen/WdRVwJ?editors=1100 */
body {
    counter-reset: grid-item;
    /* background: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png"); */
    padding: 40px 0;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    animation: blink 5s ease-in-out forwards;
}

/* body::after {
    content: "";
    width: 50px;
    height: 50px;

    border-bottom: 50px solid #FF12A9;
    border-top: 50px solid #FF12A9;
    border-right: 50px solid #FF12A9;
    border-left: 50px solid transparent;
    border-radius: 100%;
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s ease-in-out forwards;
} */

.wrapper {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(8, minmax(10px, 150px));
    grid-gap: 3px;
}

.heading {
    grid-column: 1/5;
    /* SCSS offre l'option d'ÉTENDRE (héritage ou interface?) */
    /* @extend %center; */
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /* fin %center */
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #FF12A9;
    font-style: oblique;
    letter-spacing: 2px;
}

.word-1 {
    color: #FFF;
    background-color: #000;
    font-weight: 700;
}

.word-2 {
    color: #DE1B1B;
    background-color: #F6F6F6;
    text-transform: lowercase;
    font-family: monospace;
}

.word-3 {
    color: #7D1935;
    font-weight: 700;
    background-color: #4A96AD;
}

/* Sélecteur de classe débutant par "item" */
[class^="item"] {
    overflow: hidden;
    border-radius: 3px;
    /* @extend %center; */
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /* fin %center */
    position: relative;
}

[class^="item"]::before {
    counter-increment: grid-item;
    content: counter(grid-item);
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    /* @extend %center; */
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /* fin %center */
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

/* %center {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
} */

.meta {
    transform: translateY(100%);
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    bottom: 0;
    color: #FFF;
    background: linear-gradient(to top, rgba(22, 22, 22, 0.65) 30%, rgba(22, 22, 22, 0.64) 31%, rgba(0, 0, 0, 0.29) 69%, rgba(0, 0, 0, 0) 100%);
    transition: 1s;
}

[class^="item"]:hover .meta {
    transform: unset;
    opacity: 1;
}

.meta .cta-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* @extend %center; */
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.meta .cta-list .cta-item {
    flex: 1;
    transition: .2s;
}

.meta .cta-list .cta-item:hover {
    transform: scale(1.2) rotate(-15deg);
    cursor: pointer;
}

.quote {
    font-size: 2em;
    color: #efefef;
    font-style: italic;
    transition: .3s;
}

.quote::after {
    content: "~ " attr(cite);
    font-size: .5em;
    display: block;
    padding-top: 5px;
}

.item01 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.item05 {
    grid-column: 4/5;
    grid-row: 3/5;
}

.item07 {
    grid-column: 2/4;
    grid-row: 4/7;
    background-color: rgba(0, 0, 0, 0.8);
}

.item07:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.item07:hover .quote {
    transform: scale(1.05);
}

.item11 {
    grid-row: 5/8;
    grid-column: 4/5;
}

.item14 {
    grid-column: 1/3;
}

@media (max-width: 960px) {
    .heading {
        font-size: 1rem;
        grid-column: span 2;
    }

    .wrapper {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    [class^="item"] {
        grid-column: unset;
        grid-row: unset;
    }
}

@media (max-width: 476px) {
    .heading {
        grid-column: span 1;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}


@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    to {
        transform: translate(-50%, -50%) rotate(1440deg);
        opacity: 0;
        content: unset;
    }
}

@keyframes blink {
    from {}

    to {
        opacity: 0;
        content: unset;
    }
}