@charset "UTF-8";
/**
 * @author: Axel Roberge
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Inter:wght@200;300&display=swap');
/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/

/* HEADER */
main {
    display: flex;
    flex-direction: column;
}

/* LOGO */
.ctnLogo {
    text-align: center;
}

.logoSvg {
    margin-top: 30px;
    width: 250px;
    height: 250px;
}

@media(min-width:601px) {
    .logoSvg {
        width: 350px;
        height: 350px;
    }
}

/* INTRODUCTION */
.introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 20px 40px 20px;
    border: solid 10px #FFEDE5;
    border-radius: 15px;
    background-color: white;
    padding: 18px;
    box-shadow: 5px 5px 5px 5px #888888;
    font-size: 24px;
}

@media(min-width: 601px) {
    .introduction {
        font-size: 30px;
        margin: 20px 200px 100px 200px;
    }
}



/* QUESTIONNAIRE */

fieldset {
    border: none;
}

.quiz--titre {
    text-align: center;
}

.suivieQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.question__h2 {
    text-align: left;
    color: black;
    padding: 3px;
    margin: 10px;
    font-size: 20px;
}

@media(min-width:601px) {
    .question__h2 {
        font-size: 32px;
    }
}

.CercleSuivie,
.CercleSuivie:hover {
    font-size: 22px;
    height: 30px;
    width: 30px;
    margin: 0 3px 0 3px;
    background-color: #FFEDE5;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: none;
}

@media(min-width:601px) {

    .CercleSuivie,
    .CercleSuivie:hover {
        font-weight: bold;
        font-size: 24px;
        height: 40px;
        width: 40px;
    }
}

.form-quiz {
    border: solid 10px #FFEDE5;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 20px 80px 20px;
    box-shadow: 5px 5px 5px 5px #888888;
}

@media(min-width: 601px) {
    .form-quiz {
        margin: 20px 100px 100px 100px;

    }
}

.quiz {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
}

@media(min-width: 601px) {
    .quiz {
        text-align: center;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .quiz li {
        width: 24%;
        margin: 0 10px 30px 10px;
    }
}

.question {
    padding: 20px;
}

.choixQuestion {
    font-size: 18px;
    background-color: #F5D8C2;
    border-radius: 40px;
    border: none;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
}

@media(min-width:601px) {
    .choixQuestion {
        margin-bottom: 0;
        padding: 8px;
    }
}

/* IMAGES */
.quiz--imgAccueil {
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: solid 5px #f1dbd1;
}

@media(min-width: 601px) {
    .quiz--imgAccueil {
        width: 70%;
    }
}

.quiz--imgQuiz {
    margin-top: 10px;
    border: solid 5px #f1dbd1;
}

@media(min-width: 601px) {
    .quiz--imgQuiz {
        margin: 10px auto;
    }
}

/* Icon Personnage */

.quiz--imgPersonnageRetroB {
    width: 40%;
    margin: -4px 0px 0px 89px;
    display: flex;
}

@media(min-width: 601px) {
    .quiz--imgPersonnageRetroB {
        width: 60%;
        grid-area: imgPersonnage;
    }
}

.quiz--imgPersonnageRetroM {
    width: 50%;
    margin: -4px 0px 0px 89px;
    display: flex;
}

@media(min-width: 601px) {
    .quiz--imgPersonnageRetroM {
        width: 60%;
        grid-area: imgPersonnage;
    }
}

.quiz--imgPersonnageAccueil {
    width: 40%;

}

@media(min-width: 601px) {
    .quiz--imgPersonnageAccueil {
        width: 20%;
    }
}

.quiz--imgPersonnageResultats {
    width: 100%;
    margin: 4px 0px 0px 3px;
    display: flex;
}

@media(min-width: 601px) {
    .quiz--imgPersonnageResultats {
        width: 40%;
        margin: 4px 0px 0px 210px;
    }
}

/* BUTTON */
.ctnBouton {
    position: relative;
    text-align: center;
    font-size: 20px;
}

/* bouton quiz et intro */
.introduction button {
    margin: 0 10 10 20;
    background-color: #F1BEA8;
    border-radius: 10px;
    border: none;
    color: black;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    box-shadow: 4px 3px 3px grey;
    transition: box-shadow 0.3s linear,
        background-color 0.2s ease-in 0.5s, ;
}

.introduction button:hover {
    color: white;
    background-color: #E39CA4;
    box-shadow: none;
    position: relative;
    left: 4px;
    top: 3px;
}

.container button:disabled {
    background-color: lightgrey;
    color: black;
}

.container button:disabled:hover {
    background-color: lightgrey;
    color: black;
}

.container button {
    background-color: #F1BEA8;
    border-radius: 10px;
    border: none;
    color: black;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    box-shadow: 4px 3px 3px grey;
    transition: box-shadow 0.3s linear,
        background-color 0.2s ease-in 0.5s, ;
}

.container button:hover {
    color: white;
    background-color: #E39CA4;
    box-shadow: none;
    position: relative;
    left: 4px;
    top: 3px;
}

/* button de réponse */



input:focus+label span {
    color: white;
    background-color: #DCB0B5;
    transition: background-color 0.2s ease-in 0.2s,
        color 0.1s ease-out 1s;

}

.choixQuestion:hover {
    background-color: #F1BEA8;
    animation-duration: 0.6s;
    animation-name: swing;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 7deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -7deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
}

/* JAVASCRIPT */

.js .cache {
    display: none;
}

.js .ctnBoutonSubmit {
    display: none;
}

/* rétroaction */

.grille {
    display: block;
    text-align: center;
}

@media(min-width:601px) {

    .grille {  
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: auto auto 1fr;
        gap: 0px 50px;
        grid-auto-flow: row;
        grid-template-areas:
          "image_bonneReponse imgPersonnage"
          "image_bonneReponse retro"
          "image_bonneReponse explication";
      }

      
      
}

.question__explication {
    margin-top: 25px;
    grid-area: explication;
}

.texte_question,
.texte_question:hover {
    font-size: 18px;
    background-color: #c2eff5;
    border-radius: 40px;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
    transition: none;
}
.imgRetro{
    margin-top: 10px;
    border: solid 5px #f1dbd1;
}
.image_bonneReponse{
    grid-area: image_bonneReponse;
}
.js .BonneReponse {
    background-color: rgb(199, 250, 199);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    grid-area: retro;
}

.js .MauvaiseReponse {
    background-color: rgb(250, 201, 199);
    padding: 25px;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    grid-area: retro;
}

.js .courant {
    background-color: rgb(250, 201, 199);
}

/* résultats */

.compt_resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 80px 40px 80px;
    border: solid 10px #FFEDE5;
    border-radius: 15px;
    background-color: white;
    padding: 18px;
    box-shadow: 5px 5px 5px 5px #888888;
    font-size: 24px;
}

@media(min-width: 601px) {
    .compt_resultats {
        margin: 30px 200px 40px 200px;
    }
}

.titre_resultats {
    padding: 10px;
    margin: 0 auto;
}

.paragraphe_resultats {
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 100px;
    background-color: #E39CA4;
}

@media(min-width: 601px) {
    .paragraphe_resultats {
        width: 30%;
        margin: 0 0 0 250px;
    }
}

/* PAGE 404 */

.pageNotFound{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 40px 80px 0px 80px;
    background-image: none;

}
.titreNotFound{
    font-size: 48px;
}
.btn-notFound{
    padding: 10px;
    background-color: #DCB0B5;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;

}
.imgNotFound{
   width: 30%;
margin: 0px 0px 0px 445px;
}
.footerNotFound{
    margin-top: 50px;
}