@charset "UTF-8";
/**
 * @author: Mathieu Beauregard
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Merriweather&family=Playfair+Display:wght@600&display=swap');

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/


/* COMPTEUR */
/* STYLE DE LA PAGE */
/* LOGO */
/* INTRO */
/* FIELDSET */
/* TEXTE QUESTION + IMAGE QUESTION */
/* CHOIX DE REPONSE */
/* RETROACTION */
/* BOUTONS */
/* RESULTAT */
/* FOOTER */

/* COMPTEUR */
.ctnCompteur {
    margin: 0 5% 0 auto;
    display: block;
    justify-content: left;
    width: 100px;
}

/* STYLE DE LA PAGE */
body {
    background-color: #F2ECEB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[type="radio"]:checked+label {
    
    border-radius: 5px;
    border: 2px solid var(--couleur-brun);
}

.js .cache {
    display: none;
}

.js .ctnBoutonSubmit {
    display: none;
}

.cache {
    display: none;
}

/* LOGO */

.logo_signature {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 209px;

}

@media (min-width: 600px) {
    .logo_signature {
        display: inline;
        margin: 0 0 0 0;
        position: relative;
        top: 30px;
        left: 10%;
    }
}

@media (min-width: 800px) {
    .logo_signature {
        display: inline;
        margin: 0 0 0 0;
        position: relative;
        top: 20px;
        left: 8%;
    }
}

/* INTRO */

.titre {
    text-align: center;
}

.sous_titre {
    text-align: center;
}

.description {
    margin: auto;
    text-align: center;
    width: 85%;
}

.conteneur_intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIELDSET */

fieldset {
    border: none;
    margin-bottom: 1em;
}

.separateur {
    border: 3px solid var(--couleur-vert);
    width: 95%;
    margin-left: 0;
}

/* TEXTE QUESTION + IMAGE QUESTION */

.titre_questions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

.conteneur_question {
    margin-left: 60px;
}
/* CHOIX DE REPONSE */

ul {
    padding-left: 0;
    list-style-type: none;
}

@media (min-width: 800px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 0em;
}

@media (min-width: 800px) {
    .label {
        display: block;
    }
}

.choix_reponse {
    flex-shrink: 1;
    order: -1;
    text-align: center;
}

@media (min-width: 800px) {
    .choix_reponse {
        display: block;
    }
}


/* RETROACTION */
.bonne {
    border-radius: 5px;
    border: 2px solid var(--couleur-bonne);
}

.retro {
    font-family: 'Alice', serif;
    font-size: 30px;
    text-align: center;
}

.explication {
    text-align: center;
}

.bonne_reponse {
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
    border: 2px solid var(--couleur-bonne);
    background-color: #F2F2F2;
    display: block;
    padding: 15px;
}

.mauvaise_reponse {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--couleur-mauvaise);
    background-color: #F2F2F2;
    display: block;
    padding: 15px;
}

/* BOUTONS */
.bouton_demarrer {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid var(--couleur-brun);
    padding: 20px 20px;
    width: 250px;
    background: var(--couleur-vert);
    font-size: 21px;
    cursor: pointer;
    color: #fff;
    background-image: url(../images/fleche1.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: right 6px center;
}

.bouton_demarrer:hover {
    transition: 0.3s;
    background-color: var(--couleur-hover);
}

.ctnBouton__bouton {
    margin-top: 1.5em;
    border-radius: 5px;
    border: 2px solid var(--couleur-brun);
    padding: 18px 18px;
    background: var(--couleur-vert);
    font-size: 21px;
    cursor: pointer;
    color: #fff;
}

.ctnBouton__bouton:hover {
    transition: 0.3s;
    background-color: var(--couleur-hover);
}

.ctnBouton__bouton:disabled {
    background-color: var(--couleur-disabled);
}

.ctnBouton {
    text-align: center;
}

.ctnBoutonNext {
    text-align: center;
}

.boite_btn {
    text-align: center;
}

/* RESULTAT */

.ctnResultat {
    font-size: 14px;
}

@media (min-width: 600px) {
    .ctnResultat {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .ctnResultat {
        font-size: 22px;
    }
}

.section_resultat {
    text-align: center;
}

.titre_resultat {
    font-family: 'Alice', serif;
    font-size: 40px;
    margin: 0.4em auto auto;
    font-weight: 100;
}


@media (min-width: 600px) {
    .titre_resultat {
        font-family: 'Alice', serif;
        font-size: 60px;
        margin: 1em auto auto;
    }
}

@media (min-width: 800px) {
    .titre_resultat {
        font-family: 'Alice', serif;
        font-size: 80px;
        margin: auto auto auto;
    }
}

.sous_titre_resultat {
    font-family: 'Alice', serif;
    font-size: 23px;
    margin: auto;
    font-weight: 100;
}

@media (min-width: 600px) {
    .sous_titre_resultat {
        font-size: 30px;
        margin: auto;
    }
}

@media (min-width: 800px) {
    .sous_titre_resultat {
        font-size: 40px;
        margin: auto;
    }
}

.ctnEtoiles {
    width: 68%;
    margin: 3% auto 0;
}

/* FOOTER */

footer {
    left: 0;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    background-color: var(--couleur-bandeau-superieur);
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}