@charset "UTF-8";
/**
 * @author: alexandradias
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=Rubik:wght@700;900&display=swap');

/**
 * TABLE DES MATIERES
 * @author DIAS DA ROCHA Alexandra - @TIMCSF
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Typo
 * Base
 * grille

 * Main
 * Cache
 * Accueil
 * Form
 ** Envoi formulaire
 * Footer

 * PARTIE REPONSES
 ** reponsesQuestion
 ** reponsesQuestionImages

 * PARTIE SCORES
 */


/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(typo.css);
@import url(base.css);
@import url(grille.css);

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/

/* Main
   ========================================================================== */
   .blocMain{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
}

/* Cache
   ========================================================================== */
.js .cache{
    display: none;
}

/* Accueil
   ========================================================================== */
.blocAccueil{
    background-color: var(--couleur-bg-home);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (min-width: 600px) {
    .blocAccueil{
        /* min-height: 100vh; */
    }
}

.blocAccueil div:nth-child(2){
    display: grid;
    grid-template-columns: 80%;
    text-align: left;
    justify-content: center;
}
@media screen and (min-width: 600px) {
    .blocAccueil div:nth-child(2){
        grid-template-columns: 70%;
        justify-content: flex-end;
        font-size: 2rem;
    }
}

.blocAccueil div:nth-child(3){
    display: grid;
    grid-template-columns: 80%;
    text-align: left;
    justify-content: center;
}
@media screen and (min-width: 600px) {
    .blocAccueil div:nth-child(3){
        grid-template-columns: 46%;
        justify-content: flex-end;
        font-size: 2rem;
    }
}


.blocAccueil figure{
    margin: 0;
}

.blocAccueil input{
    display: none;
}

.blocAccueil label{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    margin: 30px 0;
}

.blocAccueil__logo{
    display: grid;
    grid-template-columns: 90%;
    justify-content: flex-end;
    padding: 0;
    margin: 20px 0;
}
@media screen and (min-width: 600px) {
    .blocAccueil__logo{
        grid-template-columns: 70%;
        grid-area: logo;
    }
}

@media screen and (min-width: 600px) {
    .blocAccueil__zoneBouton{
        grid-template-areas:
        "texte bouton"
    } 
}

@media screen and (min-width: 600px) {
    .blocAccueil__zoneBouton div:nth-child(1){
        grid-area: texte;
    }
}
@media screen and (min-width: 600px) {
    .blocAccueil__zoneBouton div:nth-child(2){
        grid-area: bouton;
        min-width: 350px;
    }
}


/* Form
   ========================================================================== */
.blocForm{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}
@media screen and (min-width: 600px) {
    .blocForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        /* background-image: url(../images/btn/SVG/logoLesEnigmes.svg); */
        /* background-size: 300px 150px; */
        background-size: cover;
        /* transform: rotate(-90deg); */
    }
}

.question__fieldset{

}
@media screen and (min-width: 600px){
    .question__fieldset{
        border:solid red 2px;
    }
}

.questionBlocGrid1{

}@media screen and (min-width: 600px){
    .questionBlocGrid1{
        border:solid red 2px;
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". titre titre photo1 photo1"
        ". sousTitre sousTitre photo1 photo1";
    }
}

.questionBlocGrid2{

}@media screen and (min-width: 600px){
    .questionBlocGrid2{
        border:solid red 2px;
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". boutons photo2 photo2 ."
        ". boutons photo2 photo2 btnVerifier";
    }
}

.blocForm fieldset{
    border: none;
    padding: 0;
}


.blocForm figure{
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .question__titre{
        grid-area: titre;
    }
}

.question__sousTitre{
    font-family: var(--police-sous-titre);
    font-size: 2rem;
    grid-area: sousTitre;
}
@media screen and (min-width: 600px) {
    .question__sousTitre{
        font-size: 2.5rem;
    }
}

.questionImages{
    margin: 0 0 30px 0;
}
@media screen and (min-width: 600px) {
    .questionImages1{
        grid-area: photo1;
    }
}
@media screen and (min-width: 600px) {
    .questionImages2{
        grid-area: photo2;
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

.questionImages img{
    width: 100%;
}


.choixReponses__images{
    width: 10%;
}

.choixReponses{
    padding: 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
}
@media screen and (min-width: 600px) {
    .choixReponses{
        grid-area: boutons;
        align-content: center;
    }
}

.choixReponses li{
    width: 100%;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    border-block-start: solid var(--couleur-texte) 2px;
    border-block-end: solid var(--couleur-texte) 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 60px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

.choixReponses li:hover{
    color: var(--couleur-bg-body);
    border-block-start: solid var(--couleur-bg-body) 2px;
    border-block-end: solid var(--couleur-bg-body) 10px;
    background-color: var(--couleur-bravo);
}
.choixReponses li:active{
    color: var(--couleur-bravo);
    border-block-start: solid var(--couleur-bravo) 2px;
    border-block-end: solid var(--couleur-bravo) 10px;
    background-color: white;
}
.choixReponses li:visited{
    color: var(--couleur-bravo);
    border-block-start: solid var(--couleur-bravo) 2px;
    border-block-end: solid var(--couleur-bravo) 10px;
    background-color: white;
}

/* Envoi formulaire */
.form__confirmation--envoi{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    margin: 30px 0;
}
@media screen and (min-width: 600px) {
    .form__confirmation--envoi{
        border:solid yellow 2px;
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". . . . ."
        ". . . . btnVerifier";
    }
}

.form__confirmation--envoi button{
    background-color: transparent;
    border: none;
}
@media screen and (min-width: 600px) {
    .form__confirmation--envoi button{
        grid-area: btnVerifier;
        max-width: 200px;
    }
}



/* Footer
   ========================================================================== */
.blocFooter{
    background-color: var(--couleur-bg-body);
    font-weight: 100;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.blocFooter a{
    color: var(--couleur-bravo);
}



/* PARTIE REPONSES
   ========================================================================== */
/* reponsesQuestion */
.reponse__section{

}
@media screen and (min-width: 600px){
    .reponse__section{
        /* border:solid red 2px; */
    }
}


.reponseBlocGrid1{

}@media screen and (min-width: 600px){
    .reponseBlocGrid1{
        border:solid pink 2px;
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ". titre titre photo1 photo1"
        ". photoReponseBravo1 photoReponseBravo1 photo1 photo1"
        ". photoReponseBravo1 photoReponseBravo1 reponseTexte ."
        ". photoReponseBravo1 photoReponseBravo1 reponseTexte btnVerifier";
    }
}

/* reponsesQuestionImages */

@media screen and (min-width: 600px) {
    .reponseImagesBravo1{
        grid-area: photoReponseBravo1;
    }
}


.reponse__section{

}
@media screen and (min-width: 600px) {
    .reponse__section{
        grid-area: reponseTexte;
    }
}

.reponse__section p{
    margin: 20px 0;
}

.reponse__reponseGenerique{
    font-family: var(--police-sous-titre);
    font-size: 2rem;
}
@media screen and (min-width: 600px) {
    .reponse__reponseGenerique{
        grid-area: reponseTexte;
        font-size: 3rem;
    }
}

.reponse__reponse{
    font-family: var(--police-sous-titre);
    color: var(--couleur-bravo);
    font-size: 2.5rem;
}
@media screen and (min-width: 600px) {
    .reponse__reponse{
        grid-area: reponseTexte;
        font-size: 3rem;
    }
}

.reponse__explication{
    font-size: 1.8rem;
    line-height: 3rem;
}
@media screen and (min-width: 600px) {
    .reponse__explication{
        font-size: 2rem;
        line-height: 3rem;
    }
}

/* PARTIE SCORES
   ========================================================================== */