@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400&family=Roboto+Slab:wght@100;300;400&display=swap');

/*************************
    * table des matières 
    * 1. Titre du site
    * 2. Base
    * 3. Quiz
*************************/

@import url(normalize.css);
@import url(utils.css);
@import url(typo.css);
@import url(animations.css);

/* Titre du site */
.titre-site {
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(148, 111, 90, 1) 50%, rgba(148, 111, 90, 1) 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 2em;
    margin: 0;
}

@media (min-width: 800px) {
    .titre-site {
        background-image: url("../images/deco/146479.svg");
        background-size: 65%;
        ;
    }
}

.mot {
    display: inline-block;
    /* margin: 0.05em; */
    padding: 0.25em;
    text-shadow: var(--ombre-texte);
}

.mot--1 {
    color: black;
    position: relative;
    left: 15px;
    bottom: 10px;
    /* padding: 0 0.25em; */
    font-size: larger;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    transform: skewY(-10deg);
}

.mot--2 {
    color: var(--color-tertiary);
    position: relative;
    bottom: 10px;
    font-size: 4rem;
    text-shadow: 2px 2px 2px black;
}

.mot--3 {
    color: var(--color-quinary);
    background-color: var(--color-primary);
    transform: skewY(8deg) scaleX(1.8) scaleY(1.5);
    position: relative;
    left: 1.5em;
    bottom: 10px;
    padding: 0;
    line-height: 1;
    border-radius: 50%;
    text-shadow: 2px 2px 2px black;
}

.mot--4 {
    color: var(--color-secondary);
    transform: skewY(3deg);
    position: relative;
    bottom: -1.25em;
    left: 10px;

}

@media (min-width: 600px) {
    .mot--4 {
        bottom: -0.75em;
    }
}

.mot a {
    color: black;
    text-decoration: none;
}

abbr:hover {
    background-color: var(--color-primary);
}

abbr:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -1em;
    left: calc(50% - 5em);
    width: 10em;
    font-size: medium;
    color: white;
    background-color: var(--color-primary);
}

@media (min-width:600px) {
    abbr:hover::after {
        bottom: 0;
    }
}

/* Base */
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/deco/33305.svg), url(../images/deco/1564379.svg), linear-gradient(rgba(255, 255, 255, 0.5), var(--color-tertiary));
    background-size: contain, 100%;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

.conteneur {
    padding: 2em;
}

@media screen and (min-width: 600px) {
    .conteneur {
        padding: 4em;
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* Quiz */
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media (min-width: 600px) {
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 800px) {
    ol {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.quiz__item-de-liste {
    background-color: var(--color-quinary);
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    position: relative;
    margin: 0.5em;
    padding: 0 1.25em;
    border-radius: 1em;
}

@media (min-width: 600px) {
    .quiz__item-de-liste {
        background-image: url("../images/deco/1618916-ff5722.svg"), url("../images/deco/371653.svg");
        background-size: cover, 25%;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        max-width: 13em;
        max-height: 13em;
        border-radius: 50%;
        text-align: center;
    }
}

@media (min-width: 800px) {
    .quiz__item-de-liste {
        min-width: 13em;
        min-height: 13em;
    }
}

.quiz__item-de-liste:hover .quiz__auteur {
    /* visibility: visible; */
}

.quiz__auteur img {
    width: 4em;
    height: 4em;
    display: block;
}


@media (min-width: 800px) {
    .quiz__auteur img {
        width: 5.5em;
        height: 5.5em;
    }
}

.quiz__lien a {
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    color: black;
    text-shadow: 3px 3px 5px white;
}

@media (min-width: 600px) {
    .quiz__lien a {
        display: block;
        padding-top: 2.5em;
        transition: 0.3s ease-in-out;
    }
}

.quiz__lien a:hover {
    transform: scaleY(1.5);
    /* position: relative;
    left: 1em; */
    /* color: var(--color-secondary); */
}

@media (min-width: 600px) {
    .quiz__lien a:hover {

        transform: scale(1.2);
        /* position: static; */
    }
}

.quiz__auteur p {
    margin: 0;
}

.quiz__auteur {
    display: flex;
    align-items: center;
    width: max-content;
    color: black;
    padding-bottom: 0.5em;
    order: 1;
    margin: 0;
}

@media (min-width: 600px) {
    .quiz__auteur {
        /* position: absolute; */
        bottom: 0;
        display: block;
        /* right: calc(100% - (max-content / 2)); */

    }

    .par {
        display: block;
        padding-bottom: 1.5em;
        padding-right: 0.5em;
        position: relative;
        z-index: 1;
        font-family: 'Open Sans', sans-serif;
        text-shadow: var(--ombre-texte);
    }
}


@media (min-width: 600px) {
    .quiz__auteur::after {
        bottom: 0.5em;
        left: 2.5em;
    }
}

.quiz__auteur a {
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    filter: drop-shadow(0 0 1rem black);
}

@media (min-width: 600px) {
    .quiz__auteur a {
        position: absolute;
        bottom: -10%;
        right: -1.5em;
    }
}

}

.quiz__auteur:hover::after {
    color: var(--color-quaternary);
}

.quiz__auteur a:hover {
    color: var(--color-quaternary);
}

.quiz__auteur img {
    border: 1px solid darkgrey;
    border-radius: 50%;
    filter: saturate(0);
    transition: transform 1s ease-out, filter 1.5s ease-out;
}

.quiz__auteur a:hover img {
    filter: saturate(1.25);
    transform: rotate(360deg);
}

footer {
    background-color: var(--color-secondary);
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 0.8em;
}