/*** Styles de base ***/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Images fluides */
img {
    width: 100%;
    height: auto;
}

/* Bandeau supérieur de retour au portail */
[role=banner] {
    background-color: var(--couleur-bandeau-superieur);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logoQuizTIM {
    height: 35px;
    padding: .5em;
}

.logoQuizTIM__typo {
    fill: var(--couleur-svg-bandeau-superieur);
}

.logoQuizTIM:hover .logoQuizTIM__typo,
.logoQuizTIM:focus .logoQuizTIM__typo {
    fill: var(--couleur-svg-bandeau-superieur-hover);
}
